#wrapper{
	width: 1024px;
	height: 800px;
	

}
#board{
	width: 100%;
	height: 800px;
	border: 1px solid #090909;
	font-size: 10px;
	box-sizing: border-box;
	border-collapse: collapse;
	
}

#board tr td
{	
	width: 3px;
	height: 3px;
	border:1px dashed #090909;
}




		