$gray:#f8f8f8;

body{
	
	overflow-x: hidden;
	

}

#wrapper{
	background-image:url('../img/pink.svg');
	height:100%;
}

li{list-style-type:none;}

.navbar-header{
	width:100%;
	overflow-x:hidden;

	a{padding:10px 15px;
	}
	

	ul.nav {
		float: right;
		li{
		display: inline-block;
			a{padding:10px;}
		}
	}	
}

.main-content{
	margin:0 0 20px 0;
	
}

.box-chat{
	background-color:$gray;
	border-radius:4px;
	
	

		.chat-header{
			height:50px;
			h2{display: inline-block;}
			img{}
			a{visibility:hidden;
				img{
					height: 50px;
					float: right;
					margin-top: 10px;
				}
			}
		}

		.chat-main{
			min-height:300px;
			max-height: 450px;
			overflow-y:auto;
		}

		.chat-message{
			height: auto;
				.form-control{margin-top:20px;}

				button.add-btn{
					margin:15px 0;
				}
		}

}

.box-user{
	background-color:$gray;
	border-radius:4px;
	margin-top:100px;
	height:350px;
		


#box{
	height:150px;
	font-size:20px;
	overflow-y:auto;
	text-align:center;
	}

	ul.tools{
		padding-left:0;

		li{
			display:inline-block;
			padding:0 5px;
			text-align: center;


			img{height:40px;
			}
		}

	}

}


footer{
	text-align:center;
	background-color:$gray;
	font-size:20px;

		p{
			margin:0;
		}
}

/* modals */

ul.tools-modal{
	li{
		display:inline-block;
		padding:0 10px;
		text-align: center;
	}
}

#box1{
	height:150px;
	font-size:20px;
	overflow-y:auto;
	text-align:center;
}






@media (max-width: 767px) {


	img{height:40px;}
	.chat-main{height:350px;}

	ul.tools-modal{
		padding-left:0;
	}
}

@media (min-width: 768px) {
	
}
@media (max-width:992px){
	.box-user{display: none;}

	.box-chat{
		.chat-header{
			a{
			visibility:visible;
			}
		}

	}
}
@media (min-width: 992px) {
  
}

@media (min-width: 1200px) {

}

@media (width: 600px) and (height:960px){
	#wrapper{
		height:100%;}

		.main-content{
			height: 85vh;
			.chat-main{
			height: 500px;
			}
		}
}

@media (width: 768px) and (height:1024px){
	#wrapper{
		height:100%;}
			.main-content{
			height: 83vh;
			.chat-main{
			height: 500px;
			}
		}
}