body {
  overflow-x: hidden; }

#wrapper {
  background-image: url("../img/pink.svg");
  height: 100%; }

li {
  list-style-type: none; }

.navbar-header {
  width: 100%;
  overflow-x: hidden; }
  .navbar-header a {
    padding: 10px 15px; }
  .navbar-header ul.nav {
    float: right; }
    .navbar-header ul.nav li {
      display: inline-block; }
      .navbar-header ul.nav li a {
        padding: 10px; }

.main-content {
  margin: 0 0 20px 0; }

.box-chat {
  background-color: #f8f8f8;
  border-radius: 4px; }
  .box-chat .chat-header {
    height: 50px; }
    .box-chat .chat-header h2 {
      display: inline-block; }
    .box-chat .chat-header a {
      visibility: hidden; }
      .box-chat .chat-header a img {
        height: 50px;
        float: right;
        margin-top: 10px; }
  .box-chat .chat-main {
    min-height: 300px;
    max-height: 450px;
    overflow-y: auto; }
  .box-chat .chat-message {
    height: auto; }
    .box-chat .chat-message .form-control {
      margin-top: 20px; }
    .box-chat .chat-message button.add-btn {
      margin: 15px 0; }

.box-user {
  background-color: #f8f8f8;
  border-radius: 4px;
  margin-top: 100px;
  height: 350px; }
  .box-user #box {
    height: 150px;
    font-size: 20px;
    overflow-y: auto;
    text-align: center; }
  .box-user ul.tools {
    padding-left: 0; }
    .box-user ul.tools li {
      display: inline-block;
      padding: 0 5px;
      text-align: center; }
      .box-user ul.tools li img {
        height: 40px; }

footer {
  text-align: center;
  background-color: #f8f8f8;
  font-size: 20px; }
  footer p {
    margin: 0; }

/* modals */
ul.tools-modal li {
  display: inline-block;
  padding: 0 10px;
  text-align: center; }

#box1 {
  height: 150px;
  font-size: 20px;
  overflow-y: auto;
  text-align: center; }

@media (max-width: 767px) {
  img {
    height: 40px; }

  .chat-main {
    height: 350px; }

  ul.tools-modal {
    padding-left: 0; } }
@media (max-width: 992px) {
  .box-user {
    display: none; }

  .box-chat .chat-header a {
    visibility: visible; } }
@media (width: 600px) and (height: 960px) {
  #wrapper {
    height: 100%; }

  .main-content {
    height: 85vh; }
    .main-content .chat-main {
      height: 500px; } }
@media (width: 768px) and (height: 1024px) {
  #wrapper {
    height: 100%; }

  .main-content {
    height: 83vh; }
    .main-content .chat-main {
      height: 500px; } }

/*# sourceMappingURL=style.css.map */
