/* reset browser styles */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1.2;
	background-color: rgb(254,250,246);
}
table {
	border-collapse: collapse;
	border-spacing: 0;
} 
ol { 
	padding-left: 1.4em;
	list-style: decimal;
}
ul {
	padding-left: 1.4em;
	list-style: square;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
/* end reset browser styles */

/* @font-face */

@font-face {
  font-family: 'ModernPictograms';
  src: url("../fonts/modernpics-webfont.eot");
  src: url("../fonts/modernpics-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/modernpics-webfont.woff") format("woff"), url("../fonts/modernpics-webfont.ttf") format("truetype"), url("../_fonts/modernpics-webfont.svg#ModernPictogramsNormal") format("svg");
  font-weight: normal;
  font-style: normal; }



h1 {
	font-family: Tahoma, Arial, sans-serif;
	font-weight: normal;
}

header {
	position: relative;
	top: 0;
	vertical-align: middle;
	width: 100%;
	background-color: rgb(27,45,94);
	padding: 10px 0 5px 0;
	text-align: center;
	color: rgb(255,255,255);
	text-shadow: 2px 2px 1px rgba(255,255,255,.5);
	font: normal 26px Georgia, sans-serif; 
	letter-spacing: 2px;
}

.main {
	padding-bottom: 3em;
	border-bottom: solid 1px rgba(255,255,255,.5);
}

.main h1 {
	font-size: 32px;
	color: rgb(100,100,100);
	text-shadow: 1px 1px 1px rgb(255,255,255);
	border-bottom: solid 1px rgb(100,100,100);
	margin-bottom: 0.5em;
	margin-top:1em;
}

.content {
	max-width: 760px;
	margin: 0 auto;
	position: relative;
}

footer {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	background-color: rgb(27,45,94);
}

footer p {
	text-align: center;
	font-size: 12px;
	font-family: Arial, sans-serif;
	padding: .5em .25em .5em 1em;
	color:rgb(255,255,255);
	margin: 0;
}

p {
	font-size: 14px;
	color: rgb(100,100,100);
	font-family: Tahoma, Arial, sans-serif;
	line-height: 125%;
	margin-bottom: 10px;
}

.delete{
  font-family: ModernPictograms;
  font-size: .9em;
  display: inline-block;
  margin: 0.25em 0.2em;
  cursor: pointer;
  border-radius: .2em;
  line-height: 130%;
  width: 1.2em;
  height: 1.2em;
  text-align: center;
  border: 1px solid rgba(0, 0, 0, 0.2); }
  
.delete {
  float: right; }

.delete:hover {
  background-color: red;
  color: white; }


.rotation{
  transform: rotate(-90deg);
}
.rotation1{
  transform: rotate(90deg);
}


#tabContainer{
  transition: transform 1s linear;
  transform-origin: top left;
  transform-style: preserve-3D;
}











